@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Hide scrollbar for Webkit-based browsers (Chrome, Safari, Edge) */
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for Firefox */
  .scrollbar-hide {
    scrollbar-width: none; /* Firefox */
  }
}


@font-face {
  font-family: 'Poppins-Regular';
  src: local("Poppins-Regular"), 
  url('../src/assets/fonts/Poppins/Poppins-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins-Medium'; 
  src: local("Poppins-Medium"), 
  url('../src/assets/fonts/Poppins/Poppins-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins-SemiBold'; 
  src: local("Poppins-SemiBold"), 
  url('../src/assets/fonts/Poppins/Poppins-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins-Bold'; 
  src: local("Poppins-Bold"), 
  url('../src/assets/fonts/Poppins/Poppins-Bold.ttf') format('truetype');
}

/* ROBOTO FONTS */

@font-face {
  font-family: 'Roboto-Bold'; 
  src: local("Roboto-Bold"), 
  url('../src/assets/fonts/Roboto/Roboto-Bold.ttf') format('truetype');
}

/* .swiper-wrapper {
  flex-shrink: 0 !important;
  gap: 10px
} */

.swiper-slide {
  flex: 0 0 auto; /* Prevent shrinking */
  min-width: 161px;
  min-height: 226.52px;
}


/* @media (min-width: 1024px) {
  .swiper-wrapper {
    gap: 20px;
  }
} */
