@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Hide scrollbar for Webkit-based browsers (Chrome, Safari, Edge) */
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for Firefox */
  .scrollbar-hide {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
  }

  /* Ensure content can still be scrolled */
  .scrollbar-hide {
    scrollbar-width: none; /* Hide scrollbar but keep scroll functionality */
  }
}

@font-face {
  font-family: 'Poppins-Regular';
  src: local("Poppins-Regular"), 
  url('../src/assets/fonts/Poppins/Poppins-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins-Medium'; 
  src: local("Poppins-Medium"), 
  url('../src/assets/fonts/Poppins/Poppins-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins-SemiBold'; 
  src: local("Poppins-SemiBold"), 
  url('../src/assets/fonts/Poppins/Poppins-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins-Bold'; 
  src: local("Poppins-Bold"), 
  url('../src/assets/fonts/Poppins/Poppins-Bold.ttf') format('truetype');
}

/* ROBOTO FONTS */
@font-face {
  font-family: 'Roboto-Bold'; 
  src: local("Roboto-Bold"), 
  url('../src/assets/fonts/Roboto/Roboto-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'WorkSans-SemiBold'; 
  src: local("WorkSans-SemiBold"), 
  url('../src/assets/fonts/Work_Sans/WorkSans-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'WorkSans-Regular'; 
  src: local("WorkSans-Regular"), 
  url('../src/assets/fonts/Work_Sans/WorkSans-Regular.ttf') format('truetype');
}


.swiper-slide {
  flex: 0 0 auto; /* Prevent shrinking */
  min-width: 161px;
  min-height: 226.52px;
}

.swiper-button-next, .swiper-button-prev {
  color: #767676 !important;
}

.swiper-button-next {
  transform: translateX(1.6rem);
}

.swiper-button-prev {
  transform: translateX(-1.5rem);
}

.swiper-button-next::after, .swiper-button-prev::after {
  font-size: 14px !important; 
  background-color: white;
  padding: 12px 15.4px;
  border-radius: 100%;
  font-weight: 700;
  box-shadow: 0 0px 5px 0px rgb(0 0 0 / 0.25);
}

.transition-max-height {
  transition: max-height 0.5s ease;
}

.vertical-trim {
  display: inline-block; 
  line-height: 0.78; 
}

.no-vertical-trim {
  display: block;
  line-height: normal;
}

